body {
font-family: 'Karla', sans-serif;
font-size: 16px;
background-color:   hsl(204, 43%, 93%);
}
.grid-container .full {
  margin-top: 50px;
  background-color: white;
  padding:  10px 40px;
  border-radius: 2%;
}
.grid-container .full > h2 {
  color: hsl(179, 62%, 43%);
}
.grid-container .full > h3 {
  color:  hsl(71, 73%, 54%);
}
.grid-container .full > p {
  padding-top: 5px;
  color:  hsl(218, 22%, 67%);
  line-height: 18px;
  letter-spacing: 1px;
}
.grid-parent .subs {
  background-color: hsl(179, 62%, 43%);
  padding: 10px 40px;
  height: 323px;
  border-radius: 2%;
}
.grid-parent .subs h3{
  color:  hsl(204, 43%, 93%);
}
.grid-parent .subs p.fee {
  margin-top: 30px;
  color:hsl(204, 43%, 93%);
}
.grid-parent .subs p.fee > span{
  color: #fff;
  font-size: 40px;
  font-weight: 400;
}
.grid-parent .subs h4 {
  color: hsl(204, 43%, 93%);
}
.grid-parent .subs button {
  margin: 10px 0;
  padding: 15px;
  background-color:hsl(71, 73%, 54%);
  width: 200px;
  border-radius: 5px;
  border-style: hidden;
  color: #fff;
}
.grid-parent .subs button:hover {
  width: 300px;
  font-size: 30px;
  background-color: orange;
  color: aqua;
  padding-left: 60px;
}
.grid-parent .choose {
  background-color: rgb(68, 233, 233);
  padding: 10px 40px;
  height: 323px;
  border-radius: 2%;
}
.grid-parent .choose h3 {
  color:  hsl(204, 43%, 93%);
}
.grid-parent .choose > p {
  color: hsl(204, 43%, 93%);
}
