body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Gotu', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  background-color:   hsl(204, 43%, 93%);
}
/**Container Styles **/
.join{
  background-color: white;
  padding:  20px 40px;
  border-radius: 10px;
}
.join h2 {
  color: hsl(179, 62%, 43%);
  font-weight:800;
}
.join h3 {
  color:  hsl(71, 73%, 54%);
  font-weight:700;
}
.join p{
  color:  hsl(218, 22%, 67%);
  line-height: 1em;
  letter-spacing: 1px;
}
/**Subscription Styles**/
.subscription{
  background-color: hsl(179, 62%, 43%);
  border-radius: 10px;
}
.subscription h3{
  color:  hsl(204, 43%, 93%);
}
.subscription p.fee {
  margin-top: 30px;
  color:hsl(204, 43%, 93%);
}
.subscription p.fee > span{
  color: #fff;
  font-size: 40px;
  font-weight: 400;
}
.subscription h4 {
  color: hsl(204, 43%, 93%);
}
.subscription button {
  margin: 8px 2px;
  padding: 12px;
  background-color:hsl(71, 73%, 54%);
  width: 200px;
  text-transform: capitalize;
  border-radius: 5px;
  border-style: hidden;
  color: #fff;
}
.subscription button:hover {
  width: 300px;
  font-size: 20px;
  background-color: orange;
  color: aqua;
  padding-left: 40px;
}
/**Choice Styles**/
.choice{
  background-color: rgb(68, 233, 233);
  border-radius: 10px;
  padding-top:25px;
  padding-left:35px;
}
.choice h3 {
  color:  hsl(204, 43%, 93%);
}
.choice > p {
  color: hsl(204, 43%, 93%);
  margin-top:15px;

}
/**Media Queries**/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {..}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  h3{
    font-size:23px;
  }
  h4{
    font-size:20px;
  }
  .choice p{
    font-size:17px;
  }
  .choice{
    height:350px;
  }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
  .subscription{
    height:350px;
  }
}


/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
 .container{
    max-width:1000px;
  } 
}

